body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

body > section {
    display: grid;
    grid-template-areas: "title" "button";
    grid-template-rows: 25% 75%;
}

body > section > header {
    grid-area: title;
    text-align: center;
    font-size: 4em;
}

body > section > button {
    grid-area: button;
    height: 4em;
    font-size: 4em;
}