*   {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

    background-image: url("field.jpg");
    background-size: cover;
	background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    " challenge "
    " playground "
}

.challenge {
    grid-area: challenge;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.playground {
    grid-area: playground;
}

.reward  {
    background-image: url("sun.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.button-container {
    background-image: url("frog.png");
    background-size: contain;
	background-repeat: no-repeat;
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 25px;
}

.button     {
    width: 100px;
    height: 106px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.prince-small {
    background-image: url("prince.png");
    background-size: contain;
	background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

/* transition prince-small: from 100x100 to 400x400*/

.prince-big {
    background-image: url("prince.png");
    background-size: contain;
	background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

a   {
    color: transparent;
}

/* meer afbeeldingen: map alternative_images */